.App {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.loading-fadeout {
  animation-name: fadeout;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: running;
  opacity: 0%;
}
.pending {
  list-style: "⬜";
}

.completed {
  list-style: "✅";
}

.content-fadein {
  animation-name: fadein;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: running;
  opacity: 100%;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
